@using Ecommerce.ViewModels;
@using System.Globalization;
@model IList<CartViewModel>

@{
    ViewData["Title"] = "Carts Listing";
}

<div class="text-center">
    <h1 class="display-4">Carts listing</h1>
</div>

<div class="container">
    <h3 class="p-3 text-center">Carts from <a href="https://fakestoreapi.com/">fakestoreapi.com</a></h3>
    @if(Model.Count == 0)
    {        
        <div class="card" style="margin-bottom: 20px">
            <div class="card-header header">
                <h3 class="p-3 text-center">No carts found for those dates</h3>
            </div>
        </div>
    }

    @foreach (var product in Model)
    {
        <div class="card" style="margin-bottom: 20px">
            <div class="card-header header">
                <h3>Cart Id: @product.Id</h3>
                <h3>User Id: @product.UserId</h3>
                <h3>Cart Creation: @DateTime.Parse(@product.Date).ToString("g")</h3>
                <h3>Cart Products: </h3>
            </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Quantity</th>
                </tr>
            </thead>
            <tbody>
                    <tr>          
                        @foreach (var item in product.Products)
                        {
                            <tr>
                                <td>
                                    <ul>@item.ProductId</ul>
                                </td>                           
                                <td>
                                    <ul>@item.Quantity</ul>
                                </td>
                           </tr>
                        }
                    </tr>
            </tbody>
        </table>
        </div>
        }
</div>
